<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment2</title>
    <link rel="stylesheet" href="~/css/Moment2.css" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index"><img src="~/images/MvcWebbplatsen.png" alt="Logo"/></a>
    </header>
    <div class="container">
        <nav>
            <a asp-controller="Home" asp-action="Index">Startsidan</a>
            <a asp-controller="Home" asp-action="Cellphone">Din telefon</a>
            <a asp-controller="Home" asp-action="Cellphone">Min telefon</a>
            <a asp-controller="Home" asp-action="About">Om</a>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer>
            <p>&copy; 2023, Marcus Andersson, <a href="mailto:maan2117@student.miun.se">maan2117@student.miun.se</a></p>
        </footer>
    </div>


</body>
</html>
