@{
	ViewData["Title"] = "Om sidan";
}

<h1>Om sidan</h1>
<p>Den här sidan skapades av @ViewBag.AuthorName i kursen @ViewBag.CourseName. Webbplatsen skapades i Asp.net MVC i språket C#.</p>
<p>Denna webbplats utgör lösningen på Moment 2 i kursen. En del information i den här texten har skickats från Controllern till vyn via ViewBag.</p>
