@model Moment2.Models.CellphoneModel

@{
    ViewData["Title"] = "Min telefon";
}

<h1>Min telefon</h1>
<ul>
    <li>Märke: @Model.Brand</li>
    <li>Färg: @Model.Colour</li>
    <li>Pris: @Model.Price</li>
</ul>